# hCaptcha Site Key
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=

# --- Sentry / GlitchTip error tracking ---
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=webvue
SENTRY_PROJECT=deqah-admin
SENTRY_URL=http://100.124.231.44:8000/

